li {
  position: relative;
  overflow: hidden;
  padding: 10px;
  color: black;
}
li::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #03cdff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
li:hover::after {
  transform: scaleX(1);
}
li:hover {
  color: white;
}
